---
- name: Docker setup
  hosts: ajdocker1
  become: yes
  remote_user: ajay
  tasks:

  #- name: Update the system
  #  yum:
  #    name: '*'
  #    state: latest

  - name: Uninstall all docker
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
        - docker
        - docker-client
        - docker-client-latest
        - docker-common
        - docker-latest
        - docker-latest-logrotate
        - docker-logrotate
        - docker-engine

  - name: Add docker repository
    get_url:
      url: https://download.docker.com/linux/centos/docker-ce.repo
      dest: /etc/yum.repos.d/docer-ce.repo


  - name: Install yum-utils etc and Docker
    yum:
      name: "{{ packages }}"
      state: present
    vars:
      packages:
        - yum-utils
        - device-mapper-persistent-data
        - lvm2
        - docker-ce
        - docker-ce-cli
        - containerd.io

  - name: Create docker group
    group:
      name: docker
      state: present

  - name: Add user to docker group
    user:
      name: ajay
      groups: docker
      append: yes

  - name: Start and enable docker
    service:
      name: docker
      state: started
      enabled: yes
